body {
    /* font-family: Arial, sans-serif; */
    /* background-color: #f0f0f0; */
    background-image: url("https://as1.ftcdn.net/v2/jpg/05/02/61/78/1000_F_502617818_hovgCFq8Q6iZjrKDZQnW3MzZSBe44ZiB.jpg");
    text-align: center;
    padding: 20px;
}

#weatherApp {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    /* display: inline-block;  */
}


.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr; /* Default for mobile */
    margin-top: 10px;
}

.card-content1{
    display: flex;
    gap: 10px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s;
}
.card-content {
    padding: 15px;
    font-family: Arial, sans-serif;
    display: inline-block;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}


.card:hover {
    transform: translateY(-5px);
}

/* Media Query for Tablets */
@media (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 992px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 3 columns on laptops/desktops */
    }
}




